$heroHeight: calc(1029px - 5px);
$skillSetTop: 1697px;
$skillSetHeight: 632px;
$myWorkTop: calc($skillSetHeight + $skillSetTop);
$header-height: 117px;
$aboutMe: calc($heroHeight + 1px);
$skillSet: calc($skillSetTop + 1px);
$myWork: calc($myWorkTop + 1px);

header {
    //border: 1px solid green;
    position: absolute;
    box-sizing: border-box;
    top: 0px;
    margin: 0;
    max-width: 1440px;
    width: 100%;
    height: $header-height;
    z-index: 2;
    background-color: transparent;
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 77px;
    padding-right: 77px;

    display: flex;
    justify-content: space-between;
    align-items: center;


    font-family: Montserrat, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 23px;
    line-height: 120%;

    >.logo {
        //border: 1px solid red;
        width: 64px;
        height: 69px;
        color: white;
        background-color: transparent;

    }

    >nav {
        //border: 1px solid red;
        width: auto;
        height: 32px;
        display: flex;
        gap: 80px;

        >.links {
            //border: 1px solid red;
            width: auto;
            height: 32px;
            display: flex;
            padding-left: auto;
            gap: 36px;

            >.link {
                >.button {
                    width: 140px;

                    >.underline {
                        width: 60px;
                    }
                }
            }
        }

        >.languages {
            //border: 1px solid red;
            width: 100px;
            height: 32px;
            display: flex;
            gap: 10px;
            color: #5988FF;

            >.button {
                width: 38px;

                >.underline {
                    width: 30px;
                }
            }


        }
    }
}

@media (max-width: 1200px) {
    header {
        >nav {
            gap: 32px;

            >.links {
                gap: 24px;

                >.button {
                    width: auto;
                }
            }

            >.languages {
                gap: 6px;
            }
        }
    }
}

a,
p {
    text-decoration: none;
    transition: all 0s steps(2) 0.2s;

    &:hover {
        font-weight: bold;
        font-weight: 700;
        animation-timing-function: ease-in;
        animation-duration: 100ms;
    }
}

.bolder {
    font-weight: bold;
    font-weight: 700;
    animation-timing-function: ease-in;
    animation-duration: 100ms;
}

.button {
    //border: 1px solid red;
    display: flex;
    flex-direction: column;
    align-items: start;
    height: 32px;
    cursor: pointer;
    color: #5988FF;
    white-space: nowrap;
    z-index: 2;

    >.underline {
        margin-left: 1px;
        border-bottom: 3px solid #0043F0;
        border-radius: 0px 40px 40px 0px;
    }
}

.aboutMe {
    position: absolute;
    top: 0px;
    left: 0px;
    top: $aboutMe + 1px;
    visibility: hidden;
}

.skillSet {
    position: absolute;
    top: 0px;
    left: 0px;
    top: $skillSet + 1px;
    visibility: hidden;
}

.myWork {
    position: absolute;
    top: 0px;
    left: 0px;
    top: $myWork + 1px;
    visibility: hidden;
}