$screenWidth: 1440px;
$heroHeight: calc(1029px - 5px);
$aboutMeHeight: 407px;
$aboutMeTop: 1163px;
$aboutMeTopMobile: 800px;

.dNone {
    display: none;
}

.letsWorkTogether {
    position: absolute;
    top: var(--aboutme-top, max(#{$aboutMeTop}, 100dvh));
    left: 50%;
    transform: translate(-50%, 0%);

    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
    width: 100%;
    height: $aboutMeHeight;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    box-sizing: border-box;
    z-index: 1;
    padding-top: 60px;

    >.letsWorkTogetherBalls {
        position: absolute;
        inset: 0;
        pointer-events: none;
        z-index: 0;

        .ball2 {
            position: absolute;
            width: 206px;
            height: 206px;
            top: -242px;
            left: 628px;
            border-radius: 50%;
            clip-path: inset(50% 0 0 0);
            background: radial-gradient(74.22% 74.22% at 19.79% 22.42%,
                    #5988FF 6.25%, #5988FF 51.56%, #0043F0 100%);
        }

        .ball3 {
            position: absolute;
            width: 82px;
            height: 82px;
            top: -51px;
            left: 1034px;
            border-radius: 50%;
            background: radial-gradient(74.22% 74.22% at 19.79% 22.42%,
                    #5988FF 6.25%, #5988FF 51.56%, #0043F0 100%);
        }
    }

    >.letsWorkTogetherColumn {
        position: relative;
        z-index: 1;
        width: 606px;
        height: 100%;
    }

    .letsWorkTogetherLeftSide {
        display: flex;
        flex-direction: column;
        gap: 40px;
        width: 100%;
        height: 100%;

        >.letsWorkTogetherLeftSideTop {
            width: 100%;
            height: auto;

            >.letsWorkTogetherText0 {
                font-family: 'Baloo2', sans-serif;
                font-style: normal;
                font-weight: 750;
                font-size: 121px;
                line-height: 95%;
                letter-spacing: 0.01em;
                color: #5988FF;
                align-items: start;
            }
        }

        >.letsWorkTogetherLeftSideBottom {
            width: 100%;
            height: 100%;
            gap: 32px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;

            >.letsWorkTogetherText1 {
                font-family: 'Baloo2', sans-serif;
                font-style: normal;
                font-weight: 750;
                font-size: 45px;
                line-height: 95%;
                letter-spacing: 0.01em;
                color: #5988FF;
                align-items: center;
            }

            >.letsWorkTogetherIcons {
                width: 100%;
                height: 51px;
                display: flex;
                flex-direction: row;
                justify-content: center;
                gap: 36px;
                >.letsWorkTogetherIcon {
                    width: auto;
                    height: inherit;
                    display: flex;
                    align-items: center;
                    flex-direction: row;

                    >.letsWorkTogetherIconContainer0 {
                        height: inherit;
                        width: 45px;
                        display: flex;
                        align-items: center;
                    }

                    >.letsWorkTogetherIconContainer1 {
                        position: relative;
                        top: -6px;
                        height: inherit;
                        width: 96px;
                        display: flex;
                        align-items: center;
                        justify-content: end;
                    }

                    >.letsWorkTogetherIconContainer2 {
                        height: inherit;
                        width: 60px;
                        display: flex;
                        align-items: center;
                        justify-content: start;
                    }
                    p {
                        margin-left: 5px;
                        font-family: 'Montserrat', sans-serif;
                        font-style: normal;
                        font-weight: 500;
                        font-size: 18px;
                        line-height: 120%;
                        color: #5988FF;
                    }

                    &:hover {
                        cursor: pointer;

                        >.letsWorkTogetherIconContainer0 {
                            position: relative;
                            top: +4px;
                        }

                        >.letsWorkTogetherIconContainer1 {
                            left: -0.4px;
                        }

                        >.letsWorkTogetherIconContainer2 {
                            position: relative;
                            top: +5px;
                        }

                        img+.dNone {
                            position: relative;
                            top: -4px;
                            display: flex;
                            align-items: end;
                            display: block;
                        }

                        .dYes {
                            display: none;
                        }
                    }
                }
            }
        }
    }

    .letsWorkTogetherRightSide {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: start;
        gap: 32px;

        width: 100%;
        height: 100%;

        >.letsWorkTogetherText2 {
            font-family: 'Montserrat', sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 22px;
            line-height: 100%;
            letter-spacing: -0.02em;
            color: #000000;
        }

        >.letsWorkTogetherButton {
            border: 2px solid #5988FF;
            border-radius: 10px;
            height: 58px;
            font-family: 'Montserrat', sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 23px;
            line-height: 120%;
            text-align: center;
            white-space: nowrap;
            color: #5988FF;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            padding-top: 0;
            padding-right: 40px;
            padding-bottom: 0;
            padding-left: 40px;
            gap: 10px;

            transition-property: transform;
            transition-timing-function: ease-in-out;
            transition-duration: 0.3s;
            transform-origin: top left;

            &:hover {
                cursor: pointer;
                position: relative;
                transform: scale(1.2);
                animation-name: colorize;
                animation-timing-function: ease-out;
                animation-fill-mode: forwards;
                animation-duration: 0.15s;
                animation-iteration-count: 1;

                box-shadow: 5px 5px 15px 0px #00000026;
                @keyframes colorize {
                    0% {
                        background: linear-gradient(104.85deg, #5988FF -90.22%, #5988FF -49.45%, #0043F0 27.88%, #FFFFFF 33.64%, #FFFFFF 39.44%, #FFFFFF 90.08%);
                    }

                    50% {
                        background: linear-gradient(104.4deg, #5988FF 9.21%, #5988FF 27.52%, #0043F0 62.24%, #FFFFFF 64.83%, #FFFFFF 67.43%, #FFFFFF 90.18%);
                    }

                    100% {
                        background: radial-gradient(74.22% 74.22% at 19.79% 22.42%, #5988FF 6.25%, #5988FF 51.56%, #0043F0 100%);
                        color: white;
                        border: none;
                    }
                }
            }
        }
    }
}

@media (max-width: 1350px) {
    .letsWorkTogether {
        gap: 24px;
        padding-left: 180px;
        padding-right: 180px;

        >.letsWorkTogetherColumn {
            width: calc(50% - 12px);
        }

        >.letsWorkTogetherBalls {
            .ball2 {
                left: 560px;
            }

            .ball3 {
                left: 980px;
            }
        }

        .letsWorkTogetherLeftSide {
            gap: 24px;

            >.letsWorkTogetherLeftSideTop {
                >.letsWorkTogetherText0 {
                    font-size: 98px;
                }
            }

            >.letsWorkTogetherLeftSideBottom {
                gap: 24px;

                >.letsWorkTogetherText1 {
                    font-size: 38px;
                }

                >.letsWorkTogetherIcons {
                    gap: 20px;

                    >.letsWorkTogetherIcon {
                        p {
                            font-size: 16px;
                        }
                    }
                }
            }
        }

        .letsWorkTogetherRightSide {
            gap: 20px;

            >.letsWorkTogetherText2 {
                font-size: 19px;
                line-height: 120%;
            }

            >.letsWorkTogetherButton {
                height: 52px;
                font-size: 20px;
                padding-right: 34px;
                padding-left: 34px;
            }
        }
    }
}

@media (max-width: 799px) {
    .letsWorkTogether {
        top: var(--aboutme-mobile-top, #{$aboutMeTopMobile});
        left: 0;
        transform: none;
        max-width: none;
        height: 650px;
        padding: 0 26px;
        flex-direction: column;
        gap: 0px;

        >.letsWorkTogetherColumn {
            width: 100%;
            height: auto;
        }

        >.letsWorkTogetherBalls {
            .ball2 {
                width: 128px;
                height: 128px;
                top: -6px;
                left: 50%;
                transform: translateX(-50%);
            }

            .ball3 {
                width: 52px;
                height: 52px;
                top: 92px;
                left: 85%;
                transform: translateX(-50%);
            }
        }

        .letsWorkTogetherLeftSide {
            >.letsWorkTogetherLeftSideTop {
                >.letsWorkTogetherText0 {
                    padding: 0px 16px;
                    font-size: 56px;
                    line-height: 90%;
                }
            }

            >.letsWorkTogetherLeftSideBottom {
                align-items: center;
                gap: 16px;
                padding-bottom: 32px;

                >.letsWorkTogetherText1 {
                    font-size: 28px;
                }

                >.letsWorkTogetherIcons {
                    width: 80%;
                    height: auto;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 32px;

                    >.letsWorkTogetherIcon {
                        height: 36px;

                        >.letsWorkTogetherIconContainer0 {
                            top: 0;
                            width: 42px;
                            justify-content: center;
                        }

                        >.letsWorkTogetherIconContainer1 {
                            top: -10px;
                            left: -8px;
                            width: 42px;
                            justify-content: center;
                        }

                        >.letsWorkTogetherIconContainer2 {
                            top: 0;
                            width: 42px;
                            justify-content: center;
                        }

                        p {
                            margin-left: 8px;
                            font-size: 16px;
                        }
                    }
                }
            }
        }

        .letsWorkTogetherRightSide {
            gap: 20px;

            >.letsWorkTogetherText2 {
                font-size: 16px;
                line-height: 130%;
            }

            >.letsWorkTogetherButton {
                width: auto;
                max-width: fit-content;
                height: 42px;
                font-size: 16px;
                padding-top: 0;
                padding-right: 29px;
                padding-bottom: 0;
                padding-left: 29px;
                margin: 24px 0 0 0;

                &:hover {
                    transform: none;
                }
            }
        }
    }
}
