$teamplayerTop: 4826px;
$teamplayerHeight: 532px;


.teamPlayer {
    position: absolute;
    box-sizing: border-box;
    max-width: 1440px;
    width: 100%;
    height: $teamplayerHeight;
    top: $teamplayerTop;
    color: white;
    background: linear-gradient(128.94deg,
            #5988FF -33.96%, #5988FF 36.71%, #0043F0 112.25%);

    >.teamPlayerHeader {
        $teamplayerTitleTop: 47px;
        $teamplayerTitleHeight: 63px;
        $teamplayerDescriptionTop: 110px;
        $teamplayerDescriptionHeight: 45px;

        //border: 1px solid red;
        position: absolute;
        box-sizing: border-box;
        top: $teamplayerTitleTop;
        width: 100%;

        display: flex;
        flex-direction: column;
        align-items: center;

        >.title {
            //border: 1px solid yellow;
            position: absolute;
            height: $teamplayerTitleHeight;
            font-family: 'Baloo2', sans-serif;
            font-weight: 750;
            font-size: 45px;
            line-height: 141%;
            text-align: center;
        }

        >.description {
            //border: 1px solid greenyellow;
            position: absolute;
            height: $teamplayerDescriptionHeight;
            top: calc($teamplayerDescriptionTop - $teamplayerTitleTop);
            font-family: 'Montserrat', sans-serif;
            font-weight: 400;
            font-style: normal;
            font-size: 32px;
            line-height: 141%;
            text-align: center;
        }
    }

    >.teamPlayerContent {
        //border: 1px solid red;
        position: absolute;
        box-sizing: border-box;
        width: 1035px;
        height: 246px;
        top: 221px;
        left: 203px;
        display: flex;
        gap: 70px;

        >.opinion {
            //border: 1px solid greenyellow;
            box-sizing: border-box;
            width: 301px;
            height: 246px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 32px;

            >.opinionHeader {
                //border: 1px solid yellow;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: space-between;
                width: 100%;
                gap: 8px;

                >.person {
                    //border: 1px solid yellow;
                    font-family: 'Montserrat', sans-serif;
                    font-weight: 700;
                    font-style: Bold;
                    font-size: 24px;
                    line-height: 120%;
                }

                >.project {
                    //border: 1px solid yellow;
                    font-family: 'Montserrat', sans-serif;
                    width: 100%;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 140%;
                }
            }

            >.opinionText {
                //border: 1px solid yellow;
                font-family: 'Montserrat', sans-serif;
                width: 100%;
                height: 100%;
                font-weight: 400;
                font-size: 18px;
                line-height: 120%;
            }

        }

    }
}
