$contactTop: 5552px;
$contactContentTop: calc(5489px - $contactTop);
$topBall: 5552px;
$topBall11: calc(5390px - $topBall );
$topBall12: calc(5905px - $topBall );
$topBall13: calc(6156px - $topBall );
$topBall14: calc(6209px - $topBall );


.contact {
    border: 1px solid red;
    position: absolute;
    box-sizing: border-box;
    max-width: 1440px;
    width: 100%;
    top: $contactTop;
    height: 746px;
}

.contactContent {
    border: 1px solid blue;
    position: absolute;
    box-sizing: border-box;
    max-width: 1241px;
    width: 100%;
    height: 697px;
    top: $contactContentTop;
    left: 91px;



    .title {
        border: 1px solid green;
        position: absolute;
        box-sizing: border-box;
        width: 600px;
        height: 108px;
        left: 1px;
        ;
        font-family: "Baloo2", sans-serif;

        font-style: normal;
        font-weight: 750;
        font-size: 90px;
        line-height: 120%;
        letter-spacing: -0.00;
        text-align: start;
        color: #5988FF;
        gap: 10px;
    }

    .ask {
        border: 1px solid green;
        position: absolute;
        box-sizing: border-box;
        width: 600px;
        height: 38px;
        top: 193px;
        left: 1px;
        ;
        font-family: 'Montserrat', sans-serif;
        font-style: bold;
        font-weight: 700;
        font-size: 32px;
        line-height: 120%;
        letter-spacing: -0.00;
        text-align: start;
        color: #5988FF;
    }

    .description {
        border: 1px solid green;
        position: absolute;
        box-sizing: border-box;
        width: 600px;
        height: 57px;
        top: 266px;
        left: 1px;
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 120%;
        letter-spacing: -0.00;
        text-align: start;
        color: #000000;
    }


    .contactMe {
        border: 1px solid green;
        position: absolute;
        box-sizing: border-box;
        width: 600px;
        height: 22px;
        top: 348px;
        left: 1px;
        font-family: 'Poppins', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 120%;
        letter-spacing: -0.00;
        text-align: start;
        color: #5988FF;
        white-space: nowrap;

        >span {
            font-family: "Baloo2", sans-serif;

            font-size: 18px;
            font-weight: bolder;

        }
    }


}




.ball11 {
    $ball11Width: 129.91px;
    position: absolute;
    box-sizing: border-box;
    width: $ball11Width;
    height: $ball11Width;
    top: $topBall11;
    left: 802px;
    rotate: 81.57deg;
    background: radial-gradient(74.22% 74.22% at 19.79% 22.42%,
            #5988FF 6.25%, #5988FF 51.56%, #0043F0 100%);
    border-radius: 50%;

}

.ball12 {
    $ball12Width: 204px;
    position: absolute;
    box-sizing: border-box;
    width: $ball12Width;
    height: $ball12Width;
    top: $topBall12;
    left: 242px;

    background: radial-gradient(74.22% 74.22% at 19.79% 22.42%,
            #5988FF 6.25%, #5988FF 51.56%, #0043F0 100%);
    border-radius: 50%;

}

.ball13 {
    $ball13Width: 73px;
    position: absolute;
    box-sizing: border-box;
    width: $ball13Width;
    height: $ball13Width;
    top: $topBall13;
    left: 1276px;

    background: radial-gradient(74.22% 74.22% at 19.79% 22.42%,
            #5988FF 6.25%, #5988FF 51.56%, #0043F0 100%);
    border-radius: 50%;

}

.ball14 {
    $ball14Width: 39px;
    position: absolute;
    box-sizing: border-box;
    width: $ball14Width;
    height: $ball14Width;
    top: $topBall14;
    left: 100px;
    rotate: 41deg;

    background: radial-gradient(74.22% 74.22% at 19.79% 22.42%,
            #5988FF 6.25%, #5988FF 51.56%, #0043F0 100%);
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    >img {
        width: 16px;
        height: 16px;
        rotate: -41deg;
    }

    &:hover {
        cursor: pointer;
        border: 2px solid #5988FF;
        background: transparent;

        >img {
            content: url('/ico/ArrowUpBlue.png');
        }
    }
}

.goToHeader {
    position: absolute;
    top: 0px;
    left: 0px;
    visibility: hidden;
}