$contactTop: 5552px;
$topBall: 5552px;
$topBall11: calc(5390px - $topBall );
$topBall12: calc(5905px - $topBall );
$topBall13: calc(6156px - $topBall );
$topBall14: calc(6209px - $topBall );


.contact {
    border: 1px solid red;
    position: absolute;
    box-sizing: border-box;
    max-width: 1440px;
    width: 100%;
    top: $contactTop;
    height: 746px;
    z-index: 999;
}


.ball11 {
    $ball11Width: 129.91px;
    position: absolute;
    box-sizing: border-box;
    width: $ball11Width;
    height: $ball11Width;
    top: $topBall11;
    left: 802px;
    rotate: 81.57deg;
    background: radial-gradient(74.22% 74.22% at 19.79% 22.42%,
            #5988FF 6.25%, #5988FF 51.56%, #0043F0 100%);
    border-radius: 50%;

}

.ball12 {
    $ball12Width: 204px;
    position: absolute;
    box-sizing: border-box;
    width: $ball12Width;
    height: $ball12Width;
    top: $topBall12;
    left: 242px;

    background: radial-gradient(74.22% 74.22% at 19.79% 22.42%,
            #5988FF 6.25%, #5988FF 51.56%, #0043F0 100%);
    border-radius: 50%;

}

.ball13 {
    $ball13Width: 73px;
    position: absolute;
    box-sizing: border-box;
    width: $ball13Width;
    height: $ball13Width;
    top: $topBall13;
    left: 1276px;

    background: radial-gradient(74.22% 74.22% at 19.79% 22.42%,
            #5988FF 6.25%, #5988FF 51.56%, #0043F0 100%);
    border-radius: 50%;

}

.ball14 {
    $ball14Width: 39px;
    position: absolute;
    box-sizing: border-box;
    width: $ball14Width;
    height: $ball14Width;
    top: $topBall14;
    left: 41px;

    background: radial-gradient(74.22% 74.22% at 19.79% 22.42%,
            #5988FF 6.25%, #5988FF 51.56%, #0043F0 100%);
    border-radius: 50%;

}