$screenWidth: 1440px;
$heroHeight: 1029px;
$heroTop: -5px;


.hero {
    //border: 1px solid black;
    position: absolute;
    box-sizing: border-box;
    top: $heroTop;
    left: 50%;
    transform: translate(-50%, 0%);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: $heroHeight;
    max-width: 1440px;
    width: 100%;
    background: linear-gradient(179.99deg, #FFFFFF 12.89%, #EAF0FF 91.39%);
    overflow: hidden;
    z-index: 1;

    >.ball1 {
        position: absolute;
        width: 892px;
        height: 892px;
        top: -71px;
        left: -199px;
        transform: translate(0%, 0%);
        border-radius: 50%;
        z-index: 0;
        background: radial-gradient(74.22% 74.22% at 19.79% 22.42%,
                #5988FF 6.25%, #5988FF 51.56%, #0043F0 100%);
    }

    >.hello {
        //border: 1px solid blue;
        position: absolute;
        top: 227px; //$hello-top;
        left: 731px; //calc(50% - $screenWidth * 0.5 + $hello-left);
        width: 645px; //$hello-width;
        height: 61px; //$hello-height;
        font-size: 64px; // $hello-font;
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 400;
        line-height: 100%;
        letter-spacing: 0%;
        color: #5988FF;
        align-items: start;

    }

    >.profession {
        //border: 1px solid red;
        position: absolute;
        top: 305px; //$profession-top;
        left: 731px; //calc(50% - $screenWidth * 0.5 + $profession-left);
        width: 645px; //$profession-width;
        height: 221px; //$profession-height;
        font-family: 'Baloo2', sans-serif;
        text-transform: uppercase;
        font-style: normal;
        font-size: 128px; //$profession-font;
        font-weight: 750;
        line-height: 85%;
        color: #5988FF;
        align-items: start;

        >.professionPart1 {
            //border: 1px solid green;
            width: 100%;
            letter-spacing: 0em;
        }

        >.professionPart2 {
            //border: 1px solid orange;
            width: 100%;
            letter-spacing: -0.025em;
        }
    }

    >.scrollText {
        //border: 1px solid #5988FF;
        position: absolute;
        top: 656px; //$scroll-top;
        left: 987px; //calc(50% - $screenWidth * 0.5 + $scroll-left);
        width: 95px; //$scroll-width;
        height: 28px; //$scroll-height;
        font-size: 23px; //$scroll-font;
        font-family: 'Montserrat', sans-serif;
        text-transform: uppercase;
        font-style: medium;
        font-weight: 500;
        line-height: 120%;
        letter-spacing: 0%;
        color: #5988FF;
        align-items: start;
    }

    >.scrollLine {
        position: absolute;
        top: 694px; //$scrollline-top;
        left: 1034px; //calc(50% - $screenWidth * 0.5 + $scrollline-left);
        width: 0px; //$scrollline-width;
        height: 330px; //$scrollline-height;
        border: 2px solid #5988FF;
        opacity: 0.5;
    }

    >.me {
        position: absolute;
        top: 106px; //$photo-top;
        left: 32px; //calc(50% - $screenWidth * 0.5 + $photo-left);
        zoom: 1.4; //scale(0.8);
        width: auto; //$photo-width;
        height: 917px; //$photo-height;

    }

    .mainSocialButtons {
        position: absolute;
        //border: 1px solid black;
        top: 789px; //$socialButtons-top;
        left: 1300px; //calc(50% - $screenWidth * 0.5 + $socialButtons-left);
        width: 40px; //$socialButtons-width;
        height: 170px; //$socialButtons-height;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: end;

        >.mainSocialButton {
            //border: 1px solid red;
            width: 30px; //$socialButton-width;
            height: 30px; //$socialButton-height;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: end;

            transition-property: transform;
            transition-duration: 0.2s;
            transition-timing-function: ease;
            transition-delay: 0.1s;

            &:hover {
                position: relative;
                transform: translateX(-10px);
            }
        }
    }
}



.balls {
    //border: 1px solid black;
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translate(-50%, 0%);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1440px;
    height: 1697px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    overflow: hidden;
    box-sizing: border-box;
    z-index: 0;

    .ball2 {
        position: absolute;
        width: 206px;
        height: 206px;
        top: 921px;
        left: 628px;
        border-radius: 50%;
        z-index: 0;
        background: radial-gradient(74.22% 74.22% at 19.79% 22.42%,
                #5988FF 6.25%, #5988FF 51.56%, #0043F0 100%);
    }

    .ball3 {
        position: absolute;
        width: 82px;
        height: 82px;
        top: 1056px;
        left: 1034px;
        border-radius: 50%;
        z-index: 0;
        background: radial-gradient(74.22% 74.22% at 19.79% 22.42%,
                #5988FF 6.25%, #5988FF 51.56%, #0043F0 100%);
    }
}