<app-header></app-header>
<main>
    <div class="hero">
        <div class="ball1"></div>
        <div class="hello">{{ myData.DATA.hero.hello.values[myData.DATA.language] }}</div>
        <div class="profession">
            <div class="professionPart1">{{ myData.DATA.hero.profession.values[0][myData.DATA.language] }}</div>
            <div class="professionPart2">{{ myData.DATA.hero.profession.values[1][myData.DATA.language] }}</div>
        </div>
        <div class="scrollText">{{ myData.DATA.hero.scroll.values[myData.DATA.language] }}</div>
        <div class="scrollLine"></div>
        <img src="img/me.png" alt="my photo" class="me" />
        <div class="mainSocialButtons">
            <div class="mainSocialButton" *ngFor="let button of myData.DATA.hero.socialButtons.values">
                <a [href]="button.link" target="_blank">
                    <img [src]="'ico/' + button.icon" [alt]="button.name" />
                </a>
            </div>
        </div>
    </div>
    <div class="balls">
        <div class="ball2"></div>
        <div class="ball3"></div>
    </div>
    <div class="letsWorkTogether">
        <div>
            <div class="letsWorkTogetherLeftSide">
                <div class="letsWorkTogetherText0">{{
                    myData.DATA.letsWorkTogether.text.values[0][myData.DATA.language]}}</div>
                <div class="letsWorkTogetherText1">{{
                    myData.DATA.letsWorkTogether.text.values[1][myData.DATA.language]}}</div>
                <div class="letsWorkTogetherIcons">
                    <div class="letsWorkTogetherIcon"
                        *ngFor="let icon of myData.DATA.letsWorkTogether.icons.values; let i = index">
                        <img [src]="'ico/' + myData.DATA.letsWorkTogether.icons.icon[i]" />
                        <div class="letsWorkTogetherIconText">{{ icon[myData.DATA.language] }}</div>
                    </div>
                </div>

            </div>
        </div>
        <div>
            <div class="letsWorkTogetherRightSide">
                <div class="letsWorkTogetherText2">{{
                    myData.DATA.letsWorkTogether.text.values[2][myData.DATA.language]}}</div>
                <a class="letsWorkTogetherButton"
                    href="mailto:{{ myData.DATA.letsWorkTogether.button.values[myData.DATA.language] }}">
                    {{ myData.DATA.letsWorkTogether.button.values[myData.DATA.language] }}
                </a>
            </div>
        </div>
    </div>
</main>