@font-face {
  font-family: 'Montserrat';
  src: url('/font/Montserrat/Montserrat-VariableFont_wght.ttf');
}

@font-face {
  font-family: 'Baloo2';
  src: url('/font/Baloo_2/Baloo2-VariableFont_wght.ttf');
}
