.myWork {
    >.myWorkMain {

        .directionNormal {


            .myWorkProjectImage {
                left: 280px;
                justify-content: flex-end;
            }

            .myWorkProjectContent {
                left: 1031px;
                align-items: start;
            }
        }

        .directionReverse {

            .myWorkProjectImage {
                left: 930px;
                justify-content: flex-start;
            }

            .myWorkProjectContent {
                left: 323px;
                text-align: end;
            }
        }
    }
}