<div class="myWork">
    <div class="myWorkHeader">
        <div class="ball4"></div>
        <div class="ball5"></div>
        <div class="myWorkHeaderTitle">{{ myData.DATA.myWork.title[myData.DATA.language] }}</div>
        <div class="myWorkHeaderText">{{ myData.DATA.myWork.text[myData.DATA.language] }}</div>
    </div>
    <div class="myWorkMain">
        <div class="ball6"></div>
        <div class="ball7"></div>
        <div class="ball8"></div>
        <div class="ball9"></div>
        <div class="ball10"></div>

        <div class="myWorkProjects">
            @for (project of myData.DATA.myWork.projects; track project.title ) {
            <div>
                <div class="myWorkProject {{ $index % 2 === 0 ? 'directionNormal' : 'directionReverse' }}">
                    <div class="myWorkProjectImage">
                        <img [src]="'img/' + project.image" alt="project image">
                    </div>
                    <div class="myWorkProjectContent">
                        <div class="myWorkProjectContentText">
                            <div>
                                <span class="myWorkProjectTitle">{{ project.title[myData.DATA.language] }}</span>
                                <div class="myWorkProjectUsed">
                                    @for(tech of project.used; track tech ) {
                                    <span>
                                        {{ tech }} @if ( !$last ){<span> | </span>}
                                    </span>}
                                </div>
                            </div>
                            <span class="myWorkProjectDescription">{{ project.description[myData.DATA.language]
                                }}</span>
                        </div>
                        <div class="myWorkProjectContentButton">

                            <a class="myWorkProjectLink" [href]="project.link" target="_blank">Github</a>
                        </div>
                    </div>
                </div>
            </div>}
        </div>
    </div>