$screenWidth: 1440px;
$skillSetTop: 1697px;
$skillSetHeight: 632px;
$myWorkTop: calc($skillSetHeight + $skillSetTop);
$myWorkBall4Top: calc(2395px - $myWorkTop);
$myWorkBall5Top: calc(2515px - $myWorkTop);
$myWorkHeaderTitleTop: calc(2469px - $myWorkTop);
$myWorkHeaderTextTop: calc(2605px - $myWorkTop);
$myWorkHeaderHeight: calc($myWorkBall5Top + 183px);
$myWorkMainTop: calc($myWorkHeaderHeight);
$myWorkMainHeight: calc(1985px);
$myWorkHeight: calc($myWorkHeaderHeight + $myWorkMainHeight);



.myWork {
    position: absolute;
    top: $myWorkTop;
    left: 50%;
    transform: translate(-50%, 0%);

    display: flex;
    flex-direction: row;
    justify-content: center;
    height: $myWorkHeight;
    max-width: 1440px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: transparent;
    box-sizing: border-box;
    overflow: hidden;


    >.myWorkHeader {
        position: absolute;
        box-sizing: border-box;
        top: 0px;
        left: 50%;
        transform: translate(-50%, 0%);
        height: 100%;
        width: 1440px;
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
        background-color: transparent;

        >.myWorkHeaderTitle {
            position: absolute;
            box-sizing: border-box;
            width: 378px;
            height: 96px;
            top: $myWorkHeaderTitleTop;
            left: 77px;
            font-family: 'Baloo2', sans-serif;
            font-weight: 750;
            font-size: 96px;
            line-height: 100%;
            white-space: nowrap;
            color: #5988FF;

        }

        >.myWorkHeaderText {
            position: absolute;
            box-sizing: border-box;
            width: 673px;
            height: 56px;
            top: $myWorkHeaderTextTop;
            left: 77px;
            font-family: 'Montserrat', sans-serif;
            font-weight: 400;
            font-style: normal;
            font-size: 23px;
            line-height: 120%;

        }


        >.ball4 {
            $heightBall4: 108.75px;
            position: absolute;
            width: $heightBall4;
            height: $heightBall4;
            top: $myWorkBall4Top;
            left: 540px;
            border-radius: 50%;
            background: radial-gradient(74.22% 74.22% at 19.79% 22.42%,
                    #5988FF 6.25%, #5988FF 51.56%, #0043F0 100%);
        }

        >.ball5 {
            $heightBall5: 183px;
            position: absolute;
            width: $heightBall5;
            height: $heightBall5;
            top: $myWorkBall5Top;
            left: 1134px;
            border-radius: 50%;
            background: radial-gradient(74.22% 74.22% at 19.79% 22.42%,
                    #5988FF 6.25%, #5988FF 51.56%, #0043F0 100%);
        }
    }

    >.myWorkMain {
        $myWorkMainWidth: 1879px;
        $myWorkMainLeft: -246px;
        position: absolute;
        box-sizing: border-box;
        width: $myWorkMainWidth;
        top: $myWorkMainTop;
        height: $myWorkMainHeight;
        left: $myWorkMainLeft;
        background-color: transparent;

        >.ball6 {
            $widthBall6: 393.32px;
            position: absolute;
            width: $widthBall6;
            height: $widthBall6;
            top: calc(177px);
            left: 0px;
            rotate: 81.57deg;
            border-radius: 50%;
            background: radial-gradient(74.22% 74.22% at 19.79% 22.42%,
                    #5988FF 6.25%, #5988FF 51.56%, #0043F0 100%);
            z-index: -2;
        }

        >.ball7 {
            $topBall7: calc(462px);
            $leftBall7: calc(1138px);
            $widthBall7: 652.16px;
            position: absolute;
            width: $widthBall7;
            height: $widthBall7;
            top: calc($topBall7 + 40px);
            left: $leftBall7;
            rotate: 81.57deg;
            border-radius: 50%;
            background: radial-gradient(74.22% 74.22% at 19.79% 22.42%,
                    #5988FF 6.25%, #5988FF 51.56%, #0043F0 100%);
            z-index: -2;
        }

        >.ball8 {
            $widthBall8: 51px;
            $topBall8: calc(910px);
            $leftBall8: calc(323px);
            position: absolute;
            width: $widthBall8;
            height: $widthBall8;
            top: $topBall8;
            left: $leftBall8;
            rotate: 0deg;
            border-radius: 50%;
            background: radial-gradient(74.22% 74.22% at 19.79% 22.42%,
                    #5988FF 6.25%, #5988FF 51.56%, #0043F0 100%);
            z-index: -2;
        }

        >.ball9 {
            $widthBall9: 238.84px;
            $topBall9: calc(1351px);
            $leftBall9: calc(354px);
            position: absolute;
            width: $widthBall9;
            height: $widthBall9;
            top: $topBall9;
            left: $leftBall9;
            rotate: 81.57deg;
            border-radius: 50%;
            background: radial-gradient(74.22% 74.22% at 19.79% 22.42%,
                    #5988FF 6.25%, #5988FF 51.56%, #0043F0 100%);
            z-index: -2;
        }

        >.ball10 {
            $widthBall10: 98px;
            $topBall10: calc(1742px);
            $leftBall10: calc(1524px);
            position: absolute;
            width: $widthBall10;
            height: $widthBall10;
            top: $topBall10;
            left: $leftBall10;
            rotate: 0deg;
            border-radius: 50%;
            background: radial-gradient(74.22% 74.22% at 19.79% 22.42%,
                    #5988FF 6.25%, #5988FF 51.56%, #0043F0 100%);
            z-index: -2;
        }


        >.myWorkProjects {
            position: absolute;
            box-sizing: border-box;
            top: 0px;
            left: 0px;
            height: 100%;
            width: 100%;
            background-color: transparent;
            display: flex;
            flex-direction: column;
            gap: 70px;

        }

        .myWorkProject {
            position: relative;
            box-sizing: border-box;
            background-color: transparent;
            width: 100%;

            >.myWorkProjectImage {
                position: relative;
                box-sizing: border-box;
                width: 720px;
                height: 460px;
                top: -67px;
                gap: 10px;
                background-color: transparent;
                display: flex;
                align-items: end;
                justify-content: center;

                &:hover {
                    align-items: start;

                    >img {
                        cursor: pointer;
                        width: 670px;
                        height: 425px;
                        gap: 10px;
                        z-index: -1;
                    }
                }
            }

            >.myWorkProjectContent {
                position: absolute;
                box-sizing: border-box;
                width: 536px;
                height: 339px;
                top: 52px;
                background-color: transparent;
                display: flex;
                flex-direction: column;
                justify-content: center;
                row-gap: 15px;
                padding-bottom: 20px;

                >.myWorkProjectContentText {
                    gap: 15px;

                    .myWorkProjectTitle {
                        box-sizing: border-box;
                        height: 43px;
                        font-family: 'Baloo2', sans-serif;
                        font-weight: 750;
                        font-size: 45px;
                        line-height: 120%;
                        color: #5988FF;
                        white-space: nowrap;
                    }

                    .myWorkProjectUsed {
                        box-sizing: border-box;
                        height: 32px;
                        font-family: 'Montserrat', sans-serif;
                        font-weight: 400;
                        font-style: normal;
                        font-size: 23px;
                        line-height: 120%;
                        color: #5988FF;
                    }

                    .myWorkProjectDescription {
                        box-sizing: border-box;
                        height: 57px;
                        font-family: 'Montserrat', sans-serif;
                        font-weight: 400;
                        font-style: normal;
                        font-size: 16px;
                        line-height: 120%;
                        color: #000000;
                    }
                }

                .myWorkProjectContentButton {
                    position: absolute;
                    box-sizing: border-box;
                    width: 100%;
                    height: 100%;
                    display: flex;
                    align-items: end;

                    .myWorkProjectLink {
                        border: 2px solid #5988FF;
                        border-radius: 10px;
                        height: 58px;
                        font-family: 'Montserrat', sans-serif;
                        font-style: normal;
                        font-weight: 400;
                        font-size: 23px;
                        line-height: 120%;
                        text-align: center;
                        white-space: nowrap;
                        color: #5988FF;
                        text-decoration: none;
                        padding-top: 15px;
                        padding-right: 30px;
                        padding-bottom: 15px;
                        padding-left: 30px;
                        gap: 10px;


                        transition-property: transform;
                        transition-timing-function: ease-in-out;
                        transition-duration: 0.3s;
                        transform-origin: top left;

                        &:hover {
                            cursor: pointer;
                            position: relative;

                            transform: scale(1.2);
                            animation-name: colorize;
                            animation-timing-function: ease-out;
                            animation-fill-mode: forwards;
                            animation-duration: 0.15s;
                            animation-iteration-count: 1;

                            box-shadow: 5px 5px 15px 0px #00000026;

                            @keyframes colorize {
                                0% {
                                    background: linear-gradient(104.85deg, #5988FF -90.22%, #5988FF -49.45%, #0043F0 27.88%, #FFFFFF 33.64%, #FFFFFF 39.44%, #FFFFFF 90.08%);
                                }

                                50% {
                                    background: linear-gradient(104.4deg, #5988FF 9.21%, #5988FF 27.52%, #0043F0 62.24%, #FFFFFF 64.83%, #FFFFFF 67.43%, #FFFFFF 90.18%);
                                }

                                100% {
                                    background: radial-gradient(74.22% 74.22% at 19.79% 22.42%, #5988FF 6.25%, #5988FF 51.56%, #0043F0 100%);
                                    color: white;
                                    border: none;
                                }
                            }
                        }
                    }
                }
            }
        }

        .directionNormal {

            .myWorkProjectImage {
                left: 273px;
            }

            .myWorkProjectContent {
                left: 1031px;
                align-items: start;
            }

            .myWorkProjectContentButton {
                justify-content: start;
            }

        }

        .directionReverse {

            .myWorkProjectImage {
                left: 890px;
            }

            .myWorkProjectContent {
                left: 323px;
                text-align: end;
            }

            .myWorkProjectContentButton {
                justify-content: end;
            }
        }

    }
}