* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*user-select: none;
  -webkit-user-select: none;*/
  -webkit-touch-callout: none;
}

html,
body {
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

:root {
  --mobile-hero-height: 610px;
}