.SkillSet {
    //border: 1px solid black;
    position: absolute;
    box-sizing: border-box;
    top: 1697px;
    left: 50%;
    transform: translate(-50%, 0%);
    max-width: 1440px;
    width: 100%;
    min-height: 632px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    margin-left: auto;
    margin-right: auto;
    background: linear-gradient(128.94deg, #5988FF -33.96%, #5988FF 36.71%, #0043F0 112.25%);
    color: #ffffff;
    z-index: 1;

    >.title {
       //border: 1px solid yellow;
        position: absolute;
        box-sizing: border-box;
        font-family: 'Baloo2', sans-serif;
        font-weight: 750;
        width: 353px;
        height: 96px;
        top: 56px;
        left: 544px;
        font-size: 96px;
        line-height: 100%;
        text-align: center;

    }

    >.skills {
        //border: 1px solid yellow;
        position: absolute;
        box-sizing: border-box;
        max-width: 1036px;
        width: 100%;
        min-height: 340px;
        top: 208px;
        left: 242px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px 103px;
    }

}

.skill {
    //border: 1px solid rgb(230, 0, 255);
    box-sizing: border-box;
    width: 86px;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    gap: 10px;

    >img {
        width: 70px;
        height: 75px;
    }

    >p {
        font-family: 'montserrat', sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 16px;
        line-height: 120%;
        text-align: center;
        margin: 0;
    }

    &:hover {
        cursor: pointer;

        >p {
            font-style: bold;
            font-weight: 700;
        }

        gap: 21px 0px;
    }
}

.growMindset {
    //border: 1px solid rgb(230, 0, 255);
    box-sizing: border-box;
    width: 86px;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    gap: 10px;

    >img {
        width: 76px;
        height: 75px;
    }

    >p {
        font-family: 'montserrat', sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 16px;
        line-height: 120%;
        text-align: center;
        margin: 0;
    }

    &:hover {
        cursor: pointer;

        >p {
            font-style: bold;
            font-weight: 700;
        }

        img {
            width: 330px;
            height: 250px;
            padding-left: 127px;
            padding-bottom: 10px;
            content: url('/ico/growMindsetHover.png');
        }
    }
}