  .hero {
    max-width: 1400px;
    //box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 1028px;
    border: 1px solid red;

    >.top {
      width: 100%;
      height: 500px;
      border: 1px solid blue;
      display: flex;
      justify-content: space-between;
      align-items: center;

      >.ball1 {
        position: relative;
        width: 500px;
        height: 500px;
        top: -71px;
        left: -199px;
        opacity: 1;
        border-radius: 50%;
        z-index: 0;
        background: radial-gradient(74.22% 74.22% at 19.79% 22.42%,
            #5988FF 6.25%, #5988FF 51.56%, #0043F0 100%);
      }

    }

  }