  .hero {
    max-width: 1400px;
    //box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 1028px;
    //border: 1px solid red;

    >.top {
      width: 100%;
      height: 500px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      //border: 1px solid blue;



    }

  }